# This is a configuration definition file in folder "c:\Users\jas734\Documents\LTLMoP\src\examples\ScorbotExample\configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
dropoff = Ralphy.ScorbotActuatorHandler.drop_off()
pickup = Ralphy.ScorbotActuatorHandler.pick_up()

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Ralphy

Name: # Configuration name
test

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
blue_ring = Ralphy.ScorbotSensorHandler.nearby_color_object_detected(color=u'b')
red_ring = Ralphy.ScorbotSensorHandler.nearby_color_object_detected(color=u'r')


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
Scorbot.ScorbotActuatorHandler()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ -9.96000000e-02,  -1.27300000e-01,   1.43600000e+02],
       [ -1.61700000e-01,   2.71500000e-01,   1.59470000e+03],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
Scorbot.ScorbotDriveHandler()

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
Scorbot.ScorbotInitHandler(init_region="Recycling",port="COM1")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
Scorbot.ScorbotLocomotionCommandHandler()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
Scorbot.ScorbotMotionControlHandler()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
Scorbot.ScorbotPoseHandler()

RobotName: # Robot Name
Ralphy

SensorHandler: # Sensor handler file in robots/Type folder
Scorbot.ScorbotSensorHandler(ip="239.0.0.222",port=2222)

Type: # Robot type
Scorbot

