# This is a configuration definition file in folder "/Users/jamiesternlicht/LTLMoP/src/examples/tutorial_jamie/configs".
# Format details are described at the beginning of each section below.


======== General Config ========

Actuator_Proposition_Mapping: # Mapping between actuator propositions and actuator handler functions
pick_up = Ralph.ScorbotActuator.pick_up()
drop_off = Ralph.ScorbotActuator.drop_off()
Lower_Close_Raise = Ralph.ScorbotActuator.lower_close_raise()
Open = Ralph.ScorbotActuator.open()

Initial_Truths: # Initially true propositions

Main_Robot: # The name of the robot used for moving in this config
Ralph

Name: # Configuration name
test

Region_Tags: # Mapping from tag names to region groups, for quantification
{}

Sensor_Proposition_Mapping: # Mapping between sensor propositions and sensor handler functions
Ring = share.dummySensor.buttonPress(button_name="Ring",init_value=False)


======== Robot1 Config ========

ActuatorHandler: # Actuator handler file in robots/Type folder
ScorbotActuator()

CalibrationMatrix: # 3x3 matrix for converting coordinates, stored as lab->map
array([[ -9.96000000e-02,  -1.27300000e-01,   1.43600000e+02],
       [ -1.61700000e-01,   2.71500000e-01,   1.59470000e+03],
       [  0.00000000e+00,   0.00000000e+00,   1.00000000e+00]])

DriveHandler: # Input value for robot drive handler, refer to file inside the handlers/drive folder
ScorbotDrive()

InitHandler: # Input value for robot init handler, refer to the init file inside the handlers/robots/Type folder
ScorbotInit(init_region="T1",port="/dev/tty.usbserial-A1001aew")

LocomotionCommandHandler: # Input value for robot locomotion command handler, refer to file inside the handlers/robots/Type folder
ScorbotLocomotionCommand()

MotionControlHandler: # Input value for robot motion control handler, refer to file inside the handlers/motionControl folder
ScorbotMotionControl()

PoseHandler: # Input value for robot pose handler, refer to file inside the handlers/pose folder
scorbotPose()

RobotName: # Robot Name
Ralph

SensorHandler: # Sensor handler file in robots/Type folder
ScorbotSensor()

Type: # Robot type
Scorbot

